h1{
    font-size: 40px;
}
ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: x-large;
    font-style: italic;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: aquamarine;
    text-transform:uppercase;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    padding: 5px 10px 5px 40px ;
}
img{
    width: 150px;
}